* {
  margin: 0;
  padding: 0;
}

body {
  background: rgba(0, 0, 0, 10);
}
#bg {
  position: fixed;
  top: 0;
}

.dock {
  position: absolute;
  top: 30px; /* Dock栏距离页面顶部30px */
  left: 50%; /* Dock栏从屏幕中间开始 */
  transform: translateX(-50%); /* 使用transform使Dock栏真正居中 */
  height: 80px;
  display: flex;
  align-items: center; /* 这将使Dock栏内的元素在垂直方向上居中 */
}

.dock li {
  width: 180px;
  height: 50px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
}

.dock li:hover {
  transform: scale(1.5);
  z-index: 1;
}

.dock li:hover + li {
  transform: translateX(20px) scale(1.25);
}

.dock li:hover ~ li {
  transform: translateX(-20px) scale(1);
}

.dock li.active {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}
